@media(max-width: 768px){
    body{
        background-image: url(images/mback.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: calc(100%);
    }
}
@media(min-width: 769px){
    body{
        background-image: url(images/tourcafe.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: calc(100%);
    }
}
#companyData{
    margin-top: calc(100px); border-radius: 1%;
    width: calc(80%);height: inherit;
    text-align: center;
}
tr:hover{
    color: black; 
}
#userData{
    margin-top: calc(50px); border-radius: 2%;
    width: calc(40%); height: inherit;
}
#userPanel{
    width: inherit; height: inherit;
    background-color: white;
}
