body{
    margin: 0;
    background-image: url(images/homecafe.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: calc(100%);
}
h1,p{
    font-family: calibri;
}
.slideShow{
    margin:0; padding: 4%;
    background-color: rgb(128, 128, 128, 0.6); font-size: 16px;
}
.slideShowBoxes{
    margin:auto; margin-top: 30%;
    color: white; width: 50%;
    letter-spacing: 2px;
}
img.mySlides{
    height: 400px;
    width: 800px;
}
.about{
    color: white; font-size: 16px;  letter-spacing: 2px;
    text-align: center; padding: 5%; padding-top: 0;
    background-color: rgb(128, 128, 128, 0.6);
}
.contactInfo{
    background-color: gray;
    color: white;
    font-size: 16px; padding: 2% 0 2% 0;
}
.gallery{
    background-color: lightgrey;
}
img.images{
    width: 280px;height: 180px; border-radius: 50px;
    margin: auto;
}
img.images:hover{
    box-shadow: 0px 10px 10px 0px darkgray;
}
div.ImageCaption{
    margin-top:2px;
    color: white; text-align: center; width: inherit;
    background-color: darkgray;
}