@media(max-width: 768px){
    body{
        margin: 0;
        background-image: url(images/img9.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: calc(100%);
    }
    .slideShow{
        padding: 4%;
        font-size: 14px;
        background-color: rgb(128, 128, 128, 0.6);
    }
    .about{
        font-size: 14px;
    }
}
@media(min-width: 769px){
    body{
        margin: 0;
        background-image: url(images/homecafe.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: calc(100%);
    }
    .slideShow{
        padding: 4%;
        font-size: 16px;
        background-color: rgb(128, 128, 128, 0.6);
    }
    .about{
        font-size: 16px;
    }
}
h1,p{
    font-family: calibri;
    letter-spacing: 2px;
}
.slideShowBoxes{
    margin:auto; margin-top: 20%;
    color: white; width: 50%;
}
img.mySlides{
    margin-top:10%; 
    height: calc(50%);
    width: 800px;
    box-shadow: 0px 5px 5px 0px rgba(128, 128, 128, 0.6);
}
.about{
    color: white;
    text-align: center; padding: 5%; padding-top: 0;
    background-color: rgb(128, 128, 128, 0.6);
}
.contactInfo{
    background-color: gray;
    color: white;
    padding: 2% 0 2% 0;
}
.gallery{
    padding-top: 2%; padding-bottom: 2%;
    background-color: lightgray;
}
@media(max-width: 768px){
    img.images{
        width: calc(100%);height: 120px; border-radius: 50px;
    }
    .contactInfo{
        font-size: 14px;
    }
}
@media(min-width: 769px){
    img.images{
        width: calc(80%);height: 180px; border-radius: 50px;
    }
    .contactInfo{
        font-size: 16px;
    }
}
img.images:hover{
    box-shadow: 0px 15px 15px 0px darkgray;
}
div.ImageCaption{
    margin-top:2px; text-shadow: 0 0 3px white;
    color: white; text-align: center; width: calc(50%);
}