@media(max-width: 768px){
    body{
        background-image: url(images/mback.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: calc(100%);
    }
}
@media(min-width: 769px){
    body{
        background-image: url(images/tourcafe.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: calc(100%);
    }
}
#editBox{
    border-radius: 2%; color: white;
    background-color: rgb(30, 144, 255, 0.5); min-height: calc(300px);
    width: 30%; margin-left:auto;margin-right: auto; margin-top: calc(200px); padding: 4%;
}