@media(max-width: 768px){
    body{
        margin: 0;
        background-image: url(images/img22.jpg);
        background-size: calc(100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    
    }
}
@media(min-width: 769px){
    body{
        margin: 0;
        background-image: url(images/tourcafe.jpg);
        background-size: calc(100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    
    }
}
#erpheader{
    height: 80px;
}
div.blocks{
    background-color: rgba(100, 148, 237, 0.8);
    padding: 10px;
    height: 400px; width: 300px;
    margin: auto;
    margin-top: 50px;
    color: white; font-size: 18px;
    font-family: calibri;
    text-align: center;
}
.inputFields{
    padding: 2px 2px;
    border-style: none;
    border-bottom: 4px solid red;
    margin-top:5px;
}
input:focus{
    background-color: lightblue;
}
a:link,a:visited{
    color: white;
}
a:hover,a:active{
    color: darkblue;
}
input:last-of-type{
    border: 2px solid black;
    border-bottom: solid;
    border-radius: 5px;
    padding: 4px 4px;
    width: 80px; height: 30px;
    background-color: gray;
}