@media(max-width: 768px){
    body{
        margin: 0;
        background-image: url(images/imgp.jpg);
        background-size: calc(100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    
    }
}
@media(min-width: 769px){
    body{
        margin: 0;
        background-image: url(images/tourcafe.jpg);
        background-size: calc(100%);
        background-repeat: no-repeat;
        background-attachment: fixed;   
    }
}
#erpheader{
    height: 80px;
}
.blocks{
    background-color: rgba(100, 148, 237, 0.8);
    padding: 10px;
    height: 420px; width: 380px;
    margin: auto;
    margin-top: 50px;
    color: white; font-size: 14px;
    font-family: calibri;
    text-align: center;
}